.red-view-container {
  height: 100%;
  width: 100%;
  display: inline-flex;
  background: #ff0000;

  .red-view-navigation {
    width: 50%;
    display: inline-flex;
    vertical-align: middle;

    li {
      list-style: none;
    }
  }

  .red-view-inner-color {
    width: 50%;

    .yellow-rectangle,
    .blue-rectangle {
      width: 100%;
      height: 100%;
      margin: auto;
    }

    .yellow-rectangle {
      background: #ffff00;
    }

    .blue-rectangle {
      background: #0000ff;
    }
  }
}