<html>
<head>
    <title>Backbone Test</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div id="main-content"></div>

    <script id="time-view-template" type="text/html">
        <div class="time-info-container">
            <div class="time-info">
                <%= model.toString() %>
            </div>
        </div>
    </script>

    <script id="red-view-template" type="text/html">
        <div class="red-view-container">
            <div class="red-view-navigation">
            <ul class="menu">
                    <li>
                        <a href="#/colors/yellow">Yellow</a>
                    </li>
                    <li>
                        <a href="#/colors/blue">Blue</a>
                    </li>
                </ul>
            </div>
            <div class="red-view-inner-color"></div>
        </div>
    </script>
    <script id="blue-view-template" type="text/html">
        <div class="blue-rectangle"></div>
    </script>
    <script id="yellow-view-template" type="text/html">
        <div class="yellow-rectangle"></div>
    </script>

    <script data-main="index.js" src="bower_components/requirejs/require.js"></script>
</body>
</html>